[init]
	defaultBranch = main
[user]
	email = iamosmannyildiz@gmail.com
	name = osmannyildiz
[core]
	excludesFile = ~/aa/dotfiles/git/.gitignore_global
	ignorecase = false
	autocrlf = false
	editor = micro
[alias]
	uncommit = reset --soft HEAD^
	stash-keep = !git stash store $(git stash create)
	stash-keep-staged = !git stash push --staged && git stash apply --index
